.position-fixed {
  display: table;
  width: 100%
}

.tr {
  display: 'table-row'
}

.thead-dark .th {
  font-weight: bold;
  cursor: pointer;
  display: table-cell;
  padding: 0.75rem;
  color: #fff;
  background-color: #212529;
  border-color: #32383e;
}